body {
    margin: 50px;
}

.receita-container {
    border: 5px solid #f00000;
    /* borda cinza */
    border-radius: 10px;
    /* bordas arredondadas */
    padding: 20px;
    /* espaçamento interno */
    margin-bottom: 20px;
    /* margem inferior */
}

.receita-container h2 {
    font-size: 1.5rem;
    /* tamanho da fonte para o título */
    margin-bottom: 20px;
    /* margem inferior para o título */
}

.receita-container p,
.receita-container ul {
    margin-bottom: 10px;
    /* margem inferior para parágrafos e listas */
}

.receita-container ul li {
    list-style-type: none;
    /* remover marcadores de lista */
}

.receita-container p strong {
    font-weight: bold;
    /* tornar negrito os elementos <strong> dentro de parágrafos */
}